In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
df=pd.read_csv(r'D:\Data Science ExcelR\Project\co2data.csv')

In [3]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244

In [4]:
df[['make', 'model', 'vehicle_class']] = df[['make', 'model', 'vehicle_class']].applymap(lambda x: x.lower())

In [5]:
df.duplicated().sum()

1404

In [6]:
df=df.drop_duplicates()

In [7]:
df.duplicated().sum()

0

In [8]:
df_new=df.copy()

# **Feature** **Engineering**

In [9]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df_new['make']=LE.fit_transform(df_new['make'])
df_new['model']=LE.fit_transform(df_new['model'])
df_new['vehicle_class']=LE.fit_transform(df_new['vehicle_class'])
df_new['transmission']=LE.fit_transform(df_new['transmission'])
df_new['fuel_type']=LE.fit_transform(df_new['fuel_type'])

In [10]:
df_new.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,0,813,0,2.0,4,2,4,9.9,6.7,8.5,33,196
1,0,813,0,2.4,4,4,4,11.2,7.7,9.6,29,221
2,0,814,0,1.5,4,3,4,6.0,5.8,5.9,48,136
3,0,964,11,3.5,6,2,4,12.7,9.1,11.1,25,255
4,0,1172,11,3.5,6,2,4,12.1,8.7,10.6,27,244

In [11]:
X = df_new[["make","model","vehicle_class","engine_size","cylinders","transmission","fuel_type","fuel_consumption_city","fuel_consumption_hwy","fuel_consumption_comb(l/100km)","fuel_consumption_comb(mpg)"]]

### Standardization

In [12]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
SS_X = SS.fit_transform(X)
SS_X = pd.DataFrame(SS_X)
df_scaled= pd.DataFrame(SS.fit_transform(df_new),columns=df_new.columns)

In [13]:
SS_X

,0,1,2,3,4,5,6,7,8,9,10
0,-1.687318,0.034371,-1.310544,-0.859731,-0.883755,0.139394,0.822282,-0.774357,-1.044433,-0.863872,0.793554
1,-1.687318,0.034371,-1.310544,-0.566766,-0.883755,1.655244,0.822282,-0.408936,-0.608162,-0.491665,0.235304
2,-1.687318,0.036606,-1.310544,-1.225938,-0.883755,0.897319,0.822282,-1.870620,-1.437077,-1.743637,2.886995
3,-1.687318,0.371842,0.963903,0.238888,0.197615,0.139394,0.822282,0.012703,0.002619,0.015892,-0.322947
4,-1.687318,0.836702,0.963903,0.238888,0.197615,0.139394,0.822282,-0.155952,-0.171890,-0.153294,-0.043822
...,...,...,...,...,...,...,...,...,...,...,...
5976,1.892622,1.594336,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.549483,-0.608162,-0.559339,0.374866
5977,1.892622,1.607745,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.408936,-0.346399,-0.390153,0.235304
5978,1.892622,1.614450,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.268390,-0.215517,-0.254805,-0.043822
5979,1.892622,1.632329,1.170671,-0.859731,-0.883755,0.139394,0.822282,-0.408936,-0.346399,-0.390153,0.235304
5980,1.892622,1.634564,1.170671,-0.859731,-0.883755,0.139394,0.822282,-0.127843,-0.171890,-0.119457,-0.183385

In [14]:
column_names=['make', 'model', 'vehicle_class', 'engine_size', 'cylinders',
       'transmission', 'fuel_type', 'fuel_consumption_city',
       'fuel_consumption_hwy', 'fuel_consumption_comb(l/100km)',
       'fuel_consumption_comb(mpg)']

In [15]:
SS_X.columns=column_names

In [16]:
#standardized data is used for determining the vif

### Checking Multicollinearity

In [17]:
X_vif=SS_X

In [18]:
X_vif

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg)
0,-1.687318,0.034371,-1.310544,-0.859731,-0.883755,0.139394,0.822282,-0.774357,-1.044433,-0.863872,0.793554
1,-1.687318,0.034371,-1.310544,-0.566766,-0.883755,1.655244,0.822282,-0.408936,-0.608162,-0.491665,0.235304
2,-1.687318,0.036606,-1.310544,-1.225938,-0.883755,0.897319,0.822282,-1.870620,-1.437077,-1.743637,2.886995
3,-1.687318,0.371842,0.963903,0.238888,0.197615,0.139394,0.822282,0.012703,0.002619,0.015892,-0.322947
4,-1.687318,0.836702,0.963903,0.238888,0.197615,0.139394,0.822282,-0.155952,-0.171890,-0.153294,-0.043822
...,...,...,...,...,...,...,...,...,...,...,...
5976,1.892622,1.594336,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.549483,-0.608162,-0.559339,0.374866
5977,1.892622,1.607745,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.408936,-0.346399,-0.390153,0.235304
5978,1.892622,1.614450,0.963903,-0.859731,-0.883755,0.139394,0.822282,-0.268390,-0.215517,-0.254805,-0.043822
5979,1.892622,1.632329,1.170671,-0.859731,-0.883755,0.139394,0.822282,-0.408936,-0.346399,-0.390153,0.235304
5980,1.892622,1.634564,1.170671,-0.859731,-0.883755,0.139394,0.822282,-0.127843,-0.171890,-0.119457,-0.183385

In [19]:
df_scaled.corr()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
make,1.000000,0.026574,-0.022655,-0.145250,-0.164537,0.171237,0.037859,-0.199556,-0.128450,-0.177151,0.190379,-0.152802
model,0.026574,1.000000,0.218445,0.080717,0.057755,-0.015061,-0.081130,0.119517,0.174178,0.140015,-0.117855,0.119023
vehicle_class,-0.022655,0.218445,1.000000,0.164435,0.127075,-0.167901,-0.044198,0.263118,0.348013,0.295641,-0.294666,0.306202
engine_size,-0.145250,0.080717,0.164435,1.000000,0.928959,-0.332241,0.049932,0.833500,0.765523,0.819090,-0.768063,0.854631
cylinders,-0.164537,0.057755,0.127075,0.928959,1.000000,-0.290514,0.119215,0.800330,0.715741,0.779690,-0.729066,0.835089
transmission,0.171237,-0.015061,-0.167901,-0.332241,-0.290514,1.000000,0.176171,-0.354907,-0.356286,-0.359556,0.355507,-0.332365
fuel_type,0.037859,-0.081130,-0.044198,0.049932,0.119215,0.176171,1.000000,-0.093807,-0.150426,-0.114884,-0.001658,0.091346
fuel_consumption_city,-0.199556,0.119517,0.263118,0.833500,0.800330,-0.354907,-0.093807,1.000000,0.951092,0.994049,-0.929487,0.916349
fuel_consumption_hwy,-0.128450,0.174178,0.348013,0.765523,0.715741,-0.356286,-0.150426,0.951092,1.000000,0.978800,-0.894244,0.880948
fuel_consumption_comb(l/100km),-0.177151,0.140015,0.295641,0.819090,0.779690,-0.359556,-0.114884,0.994049,0.978800,1.000000,-0.927750,0.914298
fuel_consumption_comb(mpg),0.190379,-0.117855,-0.294666,-0.768063,-0.729066,0.355507,-0.001658,-0.929487,-0.894244,-0.927750,1.000000,-0.907149
co2_emissions,-0.152802,0.119023,0.306202,0.854631,0.835089,-0.332365,0.091346,0.916349,0.880948,0.914298,-0.907149,1.000000

In [20]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(X_vif):
    vif_data = pd.DataFrame()
    vif_data["Variable"] = X_vif.columns
    vif_data["VIF"] = [variance_inflation_factor(X_vif.values, i) for i in range(X_vif.shape[1])]
    return vif_data

vif_result = calculate_vif(X_vif)
print(vif_result)

                          Variable          VIF
0                             make     1.116480
1                            model     1.083270
2                    vehicle_class     1.262309
3                      engine_size     8.917402
4                        cylinders     8.224469
5                     transmission     1.235395
6                        fuel_type     1.312869
7            fuel_consumption_city  2221.212268
8             fuel_consumption_hwy   631.457129
9   fuel_consumption_comb(l/100km)  5056.694814
10      fuel_consumption_comb(mpg)     8.353297

In [21]:
#drop features with high VIF and low correlation with CO2 emission

In [22]:
X_vif = X_vif.drop(columns=['fuel_consumption_city', 'fuel_consumption_hwy','fuel_consumption_comb(l/100km)','make','model','vehicle_class'])

In [23]:
X_vif

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb(mpg)
0,-0.859731,-0.883755,0.139394,0.822282,0.793554
1,-0.566766,-0.883755,1.655244,0.822282,0.235304
2,-1.225938,-0.883755,0.897319,0.822282,2.886995
3,0.238888,0.197615,0.139394,0.822282,-0.322947
4,0.238888,0.197615,0.139394,0.822282,-0.043822
...,...,...,...,...,...
5976,-0.859731,-0.883755,0.139394,0.822282,0.374866
5977,-0.859731,-0.883755,0.139394,0.822282,0.235304
5978,-0.859731,-0.883755,0.139394,0.822282,-0.043822
5979,-0.859731,-0.883755,0.139394,0.822282,0.235304
5980,-0.859731,-0.883755,0.139394,0.822282,-0.183385

In [24]:
X_vif.corr()

,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb(mpg)
engine_size,1.000000,0.928959,-0.332241,0.049932,-0.768063
cylinders,0.928959,1.000000,-0.290514,0.119215,-0.729066
transmission,-0.332241,-0.290514,1.000000,0.176171,0.355507
fuel_type,0.049932,0.119215,0.176171,1.000000,-0.001658
fuel_consumption_comb(mpg),-0.768063,-0.729066,0.355507,-0.001658,1.000000

In [25]:
#determine vif again to understand the relationship between the independent variables

In [26]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(X_vif):
    vif_data = pd.DataFrame()
    vif_data["Variable"] = X_vif.columns
    vif_data["VIF"] = [variance_inflation_factor(X_vif.values, i) for i in range(X_vif.shape[1])]
    return vif_data

# Example usage:
# Assuming 'df' is your pandas DataFrame containing your independent variables
vif_result = calculate_vif(X_vif)
print(vif_result)

                     Variable       VIF
0                 engine_size  8.576085
1                   cylinders  7.644030
2                transmission  1.203973
3                   fuel_type  1.087468
4  fuel_consumption_comb(mpg)  2.526026

In [27]:
"""The features engine_size and cylinder is having high correlation so engine size is taken
make model,vehicle_class is low correlation wrt to co2_emission so they are droped"""

'The features engine_size and cylinder is having high correlation so engine size is taken\nmake model,vehicle_class is low correlation wrt to co2_emission so they are droped'

In [28]:
df_final=df_new[["engine_size","transmission","fuel_type","fuel_consumption_comb(mpg)","co2_emissions"]]

In [29]:
df_final.head()

,engine_size,transmission,fuel_type,fuel_consumption_comb(mpg),co2_emissions
0,2.0,2,4,33,196
1,2.4,4,4,29,221
2,1.5,3,4,48,136
3,3.5,2,4,25,255
4,3.5,2,4,27,244

In [30]:
df_final.shape

(5981, 5)

In [31]:
#recheck the duplicates after feature selection

In [32]:
df_final.duplicated().sum()

2636

In [33]:
df_final=df_final.drop_duplicates()

In [34]:
df_final.duplicated().sum()

0

In [35]:
df_final.shape

(3345, 5)

In [36]:
# step3: split as X and Y variable
y = df_final["co2_emissions"]
X = df_final[["engine_size","transmission","fuel_type","fuel_consumption_comb(mpg)"]]

In [37]:
X.dtypes

engine_size                   float64
transmission                    int32
fuel_type                       int32
fuel_consumption_comb(mpg)      int64
dtype: object

In [38]:
X.head()

   engine_size  transmission  fuel_type  fuel_consumption_comb(mpg)
0          2.0             2          4                          33
1          2.4             4          4                          29
2          1.5             3          4                          48
3          3.5             2          4                          25
4          3.5             2          4                          27

In [39]:
X.shape

(3345, 4)

In [40]:
df_scaled = X.copy()  # Create a copy X
df_scaled[["engine_size", "transmission", "fuel_type", "fuel_consumption_comb(mpg)"]] = SS.fit_transform(df_scaled[["engine_size", "transmission", "fuel_type", "fuel_consumption_comb(mpg)"]])
df_scaled["co2_emissions"]=y
df_scaled.head()

,engine_size,transmission,fuel_type,fuel_consumption_comb(mpg),co2_emissions
0,-0.848137,0.113073,0.873243,0.689583,196
1,-0.556832,1.638184,0.873243,0.175880,221
2,-1.212268,0.875628,0.873243,2.615968,136
3,0.244256,0.113073,0.873243,-0.337823,255
4,0.244256,0.113073,0.873243,-0.080972,244

In [41]:
df_scaled.shape

(3345, 5)

### Feature Selection

In [42]:
from sklearn.feature_selection import SelectKBest, f_regression

In [43]:
selector = SelectKBest(score_func=f_regression,k=4)
selector.fit(df_scaled.drop('co2_emissions',axis=1), df_scaled['co2_emissions'])
selector.scores_

array([ 8381.31007448,   308.52618651,    80.30686247, 14092.60384203])

In [44]:
model_1 = smf.ols('co2_emissions ~ Q("fuel_consumption_comb(mpg)")', data=df_scaled).fit()
model_2 = smf.ols('co2_emissions ~ transmission', data=df_scaled).fit()
model_3 = smf.ols('co2_emissions ~ fuel_type', data=df_scaled).fit()
model_4 = smf.ols('co2_emissions ~ engine_size', data=df_scaled).fit()
model_5 = smf.ols('co2_emissions ~ engine_size + Q("fuel_consumption_comb(mpg)")', data=df_scaled).fit()
model_6 = smf.ols('co2_emissions ~ engine_size  + Q("fuel_consumption_comb(mpg)") + fuel_type', data=df_scaled).fit()
model_7 = smf.ols('co2_emissions ~ engine_size  + Q("fuel_consumption_comb(mpg)") + transmission', data=df_scaled).fit()
model_8 = smf.ols('co2_emissions ~ engine_size  + Q("fuel_consumption_comb(mpg)") + fuel_type + transmission', data=df_scaled).fit()

In [45]:
def model_selector(i):
    switcher = {
        1: model_1,
        2: model_2,
        3: model_3,
        4: model_4,
        5: model_5,
        6: model_6,
        7: model_7,
        8: model_8
    }
    return switcher.get(i, "Invalid option")

In [46]:
r_square_values = []
mse=[]
rmse=[]
for i in range(1,9):  # Corrected the range to start from 1 and end at 8
    residuals = model_selector(i).resid
    mse = np.mean(residuals ** 2)
    rmse.append(np.sqrt(mse).round(2))
    r_square_values.append(model_selector(i).rsquared.round(5))

print(rmse)
print(r_square_values)

[27.4, 59.87, 61.83, 33.41, 21.81, 21.35, 21.81, 21.34]
[0.80827, 0.08449, 0.02346, 0.71487, 0.87845, 0.88358, 0.87846, 0.88365]

In [47]:
model_names = ['model_1', 'model_2', 'model_3', 'model_4', 'model_5', 'model_6','model_7','model_8']

# Combine model names and R-squared values into a dictionary
data = {'Model': model_names, 'R_squared': r_square_values,'RMSE':rmse}

# Create a DataFrame from the dictionary
df_4 = pd.DataFrame(data)

In [48]:
df_4.sort_values(by='RMSE', ascending=True)

     Model  R_squared   RMSE
7  model_8    0.88365  21.34
5  model_6    0.88358  21.35
4  model_5    0.87845  21.81
6  model_7    0.87846  21.81
0  model_1    0.80827  27.40
3  model_4    0.71487  33.41
1  model_2    0.08449  59.87
2  model_3    0.02346  61.83

In [49]:
#model 8 has better results

In [50]:
#engine_size ,fuel_consumption_comb(mpg), fuel_type,transmission'

## Model Building

In [51]:
X.head()

   engine_size  transmission  fuel_type  fuel_consumption_comb(mpg)
0          2.0             2          4                          33
1          2.4             4          4                          29
2          1.5             3          4                          48
3          3.5             2          4                          25
4          3.5             2          4                          27

In [52]:
X.shape

(3345, 4)

In [53]:
y.shape

(3345,)

In [54]:
# standardization
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
SS_X = SS.fit_transform(X)
SS_X = pd.DataFrame(SS_X)

In [55]:
# Data partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(SS_X,y,test_size=0.30)

# **1] Multilinear Regression**

In [56]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

linreg.fit(X_train,Y_train)

Y_pred_train = linreg.predict(X_train)
Y_pred_test  = linreg.predict(X_test)


from sklearn.metrics import mean_squared_error
train_error = np.sqrt(mean_squared_error(Y_train,Y_pred_train))
test_error = np.sqrt(mean_squared_error(Y_test,Y_pred_test))

print("Training Mean sqaure  Error:", train_error.round(2))
print("Test  Mean sqaure Error:", test_error.round(2))
print("variance:",(np.mean(test_error)-np.mean(train_error)).round(2))

Training Mean sqaure  Error: 21.11
Test  Mean sqaure Error: 21.94
variance: 0.83

In [57]:
linreg.score(X_train,Y_train) #Training accuracy is 88.156%

0.8842685625579342

In [58]:
linreg.score(X_test,Y_test) #Training accuracy is 88.80%7

0.8816212393048989

In [59]:
#The variance is low between the test and train error so the model is consistent both in training and test

# **2] Ridge Regression**

Lets find out best value for 'alpha' parameter with the help of Grid Serch CV

In [60]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

# Define the Ridge Regression model
ridge=Ridge()

#  range of alpha values to search through
param_grid = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}

# Cross Validation
grid_search = GridSearchCV(ridge, param_grid, cv=5)
grid_search.fit(X_train, Y_train)

grid_search.best_params_

{'alpha': 10.0}

In [61]:
ridge_reg=Ridge(alpha=1)
ridge_reg.fit(X_train,Y_train)

Ridge(alpha=1)

In [63]:
ridge_reg.score(X_train,Y_train)*100 #Training accuracy is 88.15%

88.42684762412793

In [64]:
ridge_reg.score(X_test,Y_test)  #Testing accuracy is 88.80%

0.8816257408814536

# **3] Lasso Regression**

Lets find out best value for 'alpha' parameter with the help of Grid Serch CV

In [65]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

# Define the Lasso Regression model
lasso=Lasso()

#  range of alpha values to search through
param_grid = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}

# Cross Validation
grid_search = GridSearchCV(lasso, param_grid, cv=5)
grid_search.fit(X_train, Y_train)

grid_search.best_params_

{'alpha': 0.1}

In [66]:
lasso_reg=Lasso(alpha=0.1)
lasso_reg.fit(X_train,Y_train)
print(lasso_reg.score(X_train,Y_train)*100, '% Training accuracy ')
print(lasso_reg.score(X_test,Y_test)*100,  '% Testing accuracy')

88.42616647852643 % Training accuracy
88.16115497869616 % Testing accuracy

# **4] Support Vector Machines**

In [67]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV

svm_reg = SVR(kernel='linear')

#  C values to search through
param_grid = {
    'C': [0.1, 1, 10, 100]
}
#  Cross Validation
grid_search = GridSearchCV(svm_reg, param_grid, cv=5)
grid_search.fit(X_train, Y_train)

best_params = grid_search.best_params_
svm_best = SVR(kernel='linear', **best_params)

svm_best.fit(X_train, Y_train)

print("Training Accuracy:", svm_best.score(X_train, Y_train) * 100, "%")
print("Testing Accuracy:", svm_best.score(X_test, Y_test) * 100, "%")

Training Accuracy: 87.67886054033657 %
Testing Accuracy: 87.1400599151462 %

In [68]:
grid_search.best_params_

{'C': 1}

# **5] Random Forest Regression**

In [69]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV


rf_reg = RandomForestRegressor()

#  range of hyperparameters to search
param_dist = {
    'n_estimators': [100, 200, 300, 400, 500],
    'max_depth': [10, 20, 30, 40, 50, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1],
}

# Randomized Search Cross Validation
random_search = RandomizedSearchCV(rf_reg, param_distributions=param_dist, n_iter=100, cv=5, random_state=42)
random_search.fit(X_train, Y_train)

# best hyperparameters found
best_params = random_search.best_params_

rf_best = RandomForestRegressor(**best_params)

# Fit the model with the best hyperparameters to the training data
rf_best.fit(X_train, Y_train)

print("Training Accuracy:", rf_best.score(X_train, Y_train) * 100, "%")
print("Testing Accuracy:", rf_best.score(X_test, Y_test) * 100, "%")

C:\Users\91866\anaconda 3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 90 is smaller than n_iter=100. Running 90 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Training Accuracy: 99.60330361426996 %
Testing Accuracy: 99.29054036374202 %

In [70]:
 random_search.best_params_

{'n_estimators': 500,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_depth': 10}

A Random Forest Regression model achieving 99% accuracy on both training and testing datasets is quite unusual and may indicate overfitting

While Random Forest Regression may provide high accuracy in this case, it's crucial to consider other factors such as model interpretability, computational complexity, and deployment requirements. If interpretability is essential or if computational resources are limited, simpler models like Linear Regression or Ridge Regression may still be preferred despite slightly lower accuracy.